@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Shippori+Antique+B1&display=swap');
html {
    scroll-behavior: smooth;
    }
body {
    font-family: 'Shippori Antique B1', sans-serif;
    text-align: justify;
    background-color: #fffffa;
}

.nav-link {
    color: white;
  }
  .nav-link:hover {
    color: #dbdbdb;
    border-bottom: solid 1px #dbdbdb;  
  }
  .nav-link:focus {
    color: #dbdbdb;
  };

#entrada {
    padding-top: 100px;
}
#img_welcome {
    padding-top: 80px; 
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
    width: 250px; 
    height: 250px;
}
#titulo_entrada {
    text-align: center;
    font-weight: bold;
}
.txt_entrada {
    text-align: center;
    font-size: 18px;
}
.titulos {
    border-bottom: 4px #198f89 dotted; 
    width: 50%;
    padding-bottom: 10px;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.titulos_sessoes {
    text-align: center;
}
.imgs_intro {
    width: 220px;
    min-height: 220px;
}
.txt_intro {
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.imgs {
    width: 200px;
    min-height: 160px;
}
.linha_txt {
    background-color: #198f89;
    border-width: 3px;
    width: 40%;
}

/* SESSÃO 1 - Informações Pessoais */
#info {
    border-bottom: outset 5px #198f89; 
    border-top: outset 5px #198f89;
    border-left: #198f89 5px dashed; 
    border-right: #198f89 5px dashed; 
    padding-bottom: 50px; 
    padding-top: 50px;
    border-radius: 10%;
}
#info_pessoais {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#info_hobbies {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#txt_perfil {
    display: none; 
    text-align: justify;
    padding-top: 10px;
}
#txt_perfil_nome {
    font-size: 16px;
}
#txt_perfil_data {
    font-size: 16px;
}
#txt_perfil_local {
    font-size: 16px;
}
#txt_perfil_local_2 {
    font-size: 16px;
}
#txt_perfil_nac {
    font-size: 16px;
}
#txt_perfil_gen {
    font-size: 16px;
}

#txt_hobbies {
    text-align: justify;
}
/* */

/* SESSÃO 2 - Formação */
#formacao {
    border-bottom: outset 5px #198f89; 
    border-top: outset 5px #198f89;
    border-left: #198f89 5px dashed; 
    border-right: #198f89 5px dashed; 
    padding-bottom: 50px; 
    padding-top: 50px; 
    border-radius: 10%;
}
#info_academica {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#img_academica3 {
    width: 400px;
    min-height: 160px;
}
#info_profissional {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#txt_profissional {
    text-align: justify;
}
/* */

/* SESSÃO 3 - Competências */
#competencias {
    border-bottom: outset 5px #198f89; 
    border-top: outset 5px #198f89;
    border-left: #198f89 5px dashed; 
    border-right: #198f89 5px dashed; 
    padding-bottom: 50px; 
    padding-top: 50px; 
    border-radius: 10%;
}
#info_competencias {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#info_idiomas {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
/* */

#bttn_descPessoal_mostrar {
    transition: 0.5s;
    }       
#bttn_descPessoal_mostrar:hover {
transform: scale(1.1);
}
#bttn_descPessoal_esconder {
    transition: 0.5s;
    }           
#bttn_descPessoal_esconder:hover {
transform: scale(1.1);
}
#bttn_descHobbies_mostrar {
    transition: 0.5s;
    }       
#bttn_descHobbies_mostrar:hover {
transform: scale(1.1);
}
#bttn_descHobbies_esconder {
    transition: 0.5s;
    }           
#bttn_descHobbies_esconder:hover {
transform: scale(1.1);
}
#bttn_descAcademica_mostrar {
    transition: 0.5s;
    }       
#bttn_descAcademica_mostrar:hover {
transform: scale(1.1);
}
#bttn_descAcademica_esconder {
    transition: 0.5s;
    }           
#bttn_descAcademica_esconder:hover {
transform: scale(1.1);
}
#bttn_descProfissional_mostrar {
    transition: 0.5s;
    }       
#bttn_descProfissional_mostrar:hover {
transform: scale(1.1);
}
#bttn_descProfissional_esconder {
    transition: 0.5s;
    }           
#bttn_descProfissional_esconder:hover {
transform: scale(1.1);
}
#bttn_descCompetencias_mostrar {
    transition: 0.5s;
    }       
#bttn_descCompetencias_mostrar:hover {
transform: scale(1.1);
}
#bttn_descCompetencias_esconder {
    transition: 0.5s;
    }           
#bttn_descCompetencias_esconder:hover {
transform: scale(1.1);
}
#bttn_descIdiomas_mostrar {
    transition: 0.5s;
    }       
#bttn_descIdiomas_mostrar:hover {
transform: scale(1.1);
}
#bttn_descIdiomas_esconder {
    transition: 0.5s;
    }           
#bttn_descIdiomas_esconder:hover {
transform: scale(1.1);
}

/* PORTFÓLIO - Carrossel de imagens */
#botao_anterior {
    background-color: #595959;
    display: none;
}
#botao_proxima {
    background-color: #595959;
    display: none;
}
#slide1 {
    width: 1348px; 
    height: 657px;
}
#slide2 {
    width: 1348px; 
    height: 657px;
}
#slide3 {
    width: 1348px; 
    height: 657px;
}
#slide4 {
    width: 1348px; 
    height: 657px;
}
#titulo_portfolio {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-bottom: inset 3px #198f89;
    width: 15%;
    padding-bottom: 15px;
}
#txt_portfolio {
    text-align: center;
    font-size: 18px;
}
/* */

/* SESSÃO 4 - Contato */
#contato {
    padding-bottom: 80px;
}
#titulo_contato {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-bottom: inset 3px #198f89;
    width: 20%;
    padding-bottom: 15px;
}
#txt_contato {
    text-align: center;
    font-size: 18px;
}
.list-inline-item {
    padding-bottom: 5px;
    font-size: 18px;
}
/* */

.img_footer {
    width: 50px;
    height: 50px;
}

.img_LogoFooter {
    width: 50px;
    height: 50px;
}

#myFooter {
    background-color: #198f89;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #126864;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #e0e0e0;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a {
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #e0e0e0;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .instagram:hover {
    color: purple;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

/* Ajustes para small-devices */
@media screen and (max-width: 900px) {
    #info_hobbies {
        padding-top: 50px;
    }
    #info_profissional {
        padding-top: 50px;
    }
    #info_idiomas {
        padding-top: 50px;
    }
    #titulo_portfolio {
        width: 50%;
    }
    #titulo_contato {
        width: 50%;
    }
    #img_academica3 {
        width: 350px;
        min-height: 160px;
    }
    #slide1 {
        width: 767px; 
        height: 250px;
    }
    #slide2 {
        width: 767px; 
        height: 250px;
    }
    #slide3 {
        width: 767px; 
        height: 250px;
    }
    #slide4 {
        width: 767px; 
        height: 250px;
    }
    #myFooter {
        text-align: center;
    }
};
/* */

/* Ajustes para large-devices */
@media screen and (min-width: 1440px) {
    #demo {
        width: 1348px; 
        height: 657px;
    }
    #slide1 {
        width: 1348px; 
        height: 657px;
    }
    #slide2 {
        width: 1348px; 
        height: 657px;
    }
    #slide3 {
        width: 1348px; 
        height: 657px;
    }
    #slide4 {
        width: 1348px; 
        height: 657px;
    }
}

/* */